@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align">@ViewData["Title"]</span>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="red-text"></div>

                        <div class="input-field">
                            <input asp-for="Input.Email" class="validate" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="red-text"></span>
                        </div>

                        <div class="input-field">
                            <input asp-for="Input.Password" type="password" class="validate" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="red-text"></span>
                        </div>

                        <div class="row">
                            <p>
                                <label>
                                    <input asp-for="Input.RememberMe" type="checkbox" />
                                    <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                                </label>
                            </p>
                        </div>

                        <div class="row center-align">
                            <button id="login-submit" type="submit" class="btn waves-effect waves-light">Log in</button>
                        </div>

                        <div class="row center-align">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}